[MASTER]
load-plugins=pylint_django
django-settings-module=api.settings

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=C0111,C0114,C0115,C0116

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete

[MAIN]
load-plugins = pylint.extensions.bad_builtin